body{
	background-color:#f1f0f8;
	margin: 0;
	padding: 0;
	font-family: 'josefin Sans', Sans-serif;
}

#box {
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
	padding-bottom: 50px;
	border: 1px snow rgb(180, 179, 179);
	margin: 30px;
	margin-top: 0px;
	height: 100%;
	box-sizing: border-box;
	
}


.radio-inline{
	margin: 0px 40px 20px 0px;
	cursor: pointer;
	
	
}

label{
	color: #000;
}

#msg{
	outline: none;
	border:2px solid rgb(238, 235, 235);
	padding: 10px 0px 0px 15px;
	font-size: 16px;
	color:#000;
	border-radius: 5px;
	width: 100%
}

input[type=text]{
    width:100%;
    border:2px solid rgb(238, 235, 235);
    border-radius:4px;
    margin:8px 0;
    outline:none;
    padding:2px;
    box-sizing:border-box;
    transition:.3s;
  }
  
  input[type=text]:focus{
    border-color:rgb(171, 136, 211);
    box-shadow:2px 0 10px 0 rgb(171, 136, 211);
  }

  #msg:focus{
    border-color:rgb(171, 136, 211);
    box-shadow:2px 0 10px 0 rgb(171, 136, 211);
  }
  #btn:focus{
    border-color:rgb(10, 10, 10);
	box-shadow:2px 0 10px 0 rgb(251, 251, 252);
	opacity: .4;
  }

header{
	margin-top: 0px;
	margin-left: 30px;
}
h1 {
	color:rgb(22, 21, 21);
	font-family:'josefin Sans', Sans-serif ;
}
h3 {
	margin-left: 30px;
}
#h3{
	color: #000;
}
h4 {
	color: blue;
}

.feedback {
	margin-left: 60px;
	font-weight: bolder;
	margin-top: 30px;
	font-size: x-large;
	font-size: 30px;

}


/* table formatting */
.filter{
 position: absolute;
 left: 0;
 top: 0;
 bottom: 0;
 right: 0;
 z-index: 1;
 background: rgb(233,76,161);
background: -moz-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
background: linear-gradient(90deg, rgba(233,76,161,1) 0%, rgba(199,74,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e94ca1",endColorstr="#c74ae9",GradientType=1);
opacity: .7;
}
table{
 position: absolute;
 z-index: 2;
 left: 49%;
 top: 50%;
 transform: translate(-50%,-50%);
 width: 90%; 
 border-collapse: collapse;
 border-spacing: 0;
 box-shadow: 0 2px 15px rgba(64,64,64,.7);
 border-radius: 12px 12px 0 0;
 overflow: hidden;
 margin-top: 50px;
}
td , th{
 padding: 15px 20px;
 text-align: center;
 

}
th{
 background-color: #ba68c8;
 color: #fafafa;
 font-family: 'josefin Sans', Sans-serif;
 font-weight: 200;
 text-transform: uppercase;

}
tr{
 width: 100%;
 background-color: #fafafa;
 font-family: 'josefin Sans', Sans-serif;
}
tr:nth-child(even){
 background-color: #eeeeee;
}

#rate {
	margin-left: 30px;
	font-size: 15px;
	text-align: center;
}

/* BUTTON*/
#btn {
	color:#fafafa;
	background:green ;
	border-color:green transparent;
	margin-left: 0px;
	margin-top: 15px;
	opacity: .9;
}

  /* NAVBAR */
  nav {
    border-bottom: 1px solid #fff;
	background-color: #fafafa;
	margin-bottom: 20px;
	text-align: left;
	font-weight: 400;
	border-color: rgb(184, 184, 184);
	border-width: 2px;
}
  
  nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  nav li {
	display: inline-block;
	margin-left: 40px;
	padding-top: 10px;
	position: relative;
	margin-bottom: 10px;
  }
  
  nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	padding-right: 30px;
	text-align: center;
  }
  
  nav a:hover {
	color: rgb(144, 58, 194);
  }
  
  nav a::before {
	content: '';
	display: block;
	height: 2px;
	background-color: rgb(121, 13, 148);
  
	position: absolute;
	top: 0;
	width: 0%;
  
	transition: all ease-in-out 250ms;
  }
  
  nav a:hover::before {
	width: 100%;
  }
  